
<md-card ng-repeat="event in events">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{event.title}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{event.description}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Voir le site</md-button>
    </md-card-actions>
</md-card>
<md-button class="md-fab md-primary md-hue-2" aria-label="New one" ng-click="addNew()">
    <md-icon md-svg-src="plus"></md-icon>
</md-button>